nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(162, 180, 235);
    padding: 15px;   
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}
nav a:hover {
    text-decoration: underline;
}

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 2px;
    display: grid;
    grid-template: auto  1fr auto / 1fr 20%;
    grid-template-areas: 
        "header"
        "sidebar"
        "footer";
    height: auto;
}