:root {
    --primary-color: #425B78;
    --secondary-color: #1B263B;
    --accent-color: #FFC107;
    --background-color: #778DA9;
    --text-color: #E0E1DD;
    --footer-bg: #0D1B2A;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color:steelblue;
    padding: 15px;   
    max-width: 1200px;
}
nav a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}
nav a:hover {
    color: var(--accent-color);
    border-bottom: 2px solid var(--accent-color);
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: var(--background-color);
}
header {
    grid-area: header;
    background-color: var(--secondary-color);
    padding: 15px;
}
header h1 {
    color: var(--text-color);
}
main {
    grid-area:main;
    padding: 15px;
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 25px;
}
footer {
    background-color: var(--footer-bg);
    color: #fff;
    padding: 25px;
}
footer a:hover {
    color: var(--accent-color);
}

h1, h2, h3 {
    color: var(--primary-color);
}
.card {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.card img {
    width: 50%;
    border-radius: 10px;
}
.card p {
    color: var(--secondary-color);
}
.card:first-child {
    grid-column: span 2;
}