
nav {
    display: flex;
    justify-content: space-around;
    background-color:steelblue;
    padding: 15px;   
    max-width: auto;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}
nav a:hover {
    text-decoration: overline;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header {
    grid-area: header;
    background-color: rgb(186, 197, 232);
    padding: 15px;
}
main {
    grid-area:main;
    padding: 15px;
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 25px;
}

.card {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card:first-child {
    grid-column: span 2;
}